.teacher{
   
}
.teacher-sub{
    display: grid;
   
}
.teacher-details{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(221, 204, 221);
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
}
.teacher-img{

}
.teacher-img img{
width: 80px;
height: 80px;
border-radius: 5px;
border-radius: 50%;
margin-right: 10px;

}
.custom-button{
    background: #7ff192;
    font-size: 15px;
    padding: 5px 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid salmon;
    border-radius: 5px;
}