.teacher{
   
}
.teacher-sub{
    display: grid;
   
}
.teacher-details{
    background-color: rgb(221, 204, 221);
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
}
.teacher-img{
    text-align: center;
}
.teacher-img img{
    width: 80px;
height: 80px;
border-radius: 50%;
}